/* * { border: solid black 1px; } */

@import url('https://fonts.googleapis.com/css2?family=Lexend+Peta&display=swapllll');

.page {
    font-family: 'Lexend Peta', sans-serif;
}

body {
    margin: 0;
    padding: 0;
}

header, .page-content {
    display: flex;
    margin: 0 auto;
    max-width: 1000px;
}

header {
    justify-content: space-between;
}

.nav-links {
    display: flex;
    align-items: center;
}

.nav-links ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.nav-links li {
    margin: 0 20px;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.page-content {
    align-content: space-around;
    background-image: url("../images/more-leaves-on-green.png");
    background-color: gray;
    padding: 50px;
}

.page-content > div {
    margin: 0 20px;
}

.logo{
    color: yellowgreen;
    margin-left: 50px;
}

.logo span {
    color: red;
}

.description {
    width: 250px;
}

.images {
    flex-grow: 1;
    display: flex;
    justify-content: space-between;
}

.thumbnail {
    display: flex;
    background-color: gray;
    background-size: cover;
    flex-grow: 1;
    margin: 0 5px;
    height: auto;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
}

.thumbnail :first-child {
    background-color: white;
    padding: 10px;
    width: 25%;
    text-align: center;
}

.thumbnail :last-child {
    background-color: orange;
    padding: 10px;
    width: 50%;
    text-align: end;
}

.breakfast {
    background-image: url("../images/breakfast.jpg");
}

.lunch {
    background-image: url("../images/lunch.jpg");
}

.dinner {
    background-image: url("../images/dinner.jpg");
}

